
uploads/rankInput/patientMode/references/*.json
uploads/rankInput/patientMode/targets/*.json

uploads/rankInput/cohortMode/cohorts/*.json

uploads/ontologies/*.yaml
uploads/weights/*.yaml
uploads/config/*.yaml

output/simulatedData/*.json
output/tmp/*.json

output/rankedPatients/*
!output/rankedPatients/README.md

output/rankedCohortMatrixes/*
!output/rankedCohortMatrixes/README.md

output/convertedData/*
!output/convertedData/README.md

output/inputExamples/*
!output/inputExamples/README.md

input_examples/*
!input_examples/README.md