/* error messages */
.red-text {
  color: red;
}

/* make the history sidebar overlay the main content */
#PatientHistorySidebar, #CohortHistorySidebar, #SimulateHistorySidebar, #ConvertHistorySidebar, #InputExamplesRetrievalHistorySidebar #BeaconApiHistorySidebar {
  display: none;
  background-color: lightgray;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  z-index: 999;
  padding: 20px;
  overflow: auto;
}

.history-sidebar-header {
  position: fixed;
  width: 18%;
  background-color: white;
  top: 0;
  height: 6%;
}

/* for the header bar */
.navbar-brand {
  opacity: 0;
}

.navbar-brand:hover {
  opacity: 0;
}

.side-by-side-container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
}

.side-by-side-container > * {
  margin: 5px;
}

.logo-icon {
  background: url("logo.svg");
  background-repeat: no-repeat;
  background-size: 150px;
  width: 150px;
  height: 100px;
  top: 12px;
  position: absolute;
}

/* for the table in simulation mode */
.dataTable td:nth-child(3) .my-input-class {
  width: 100px;
}

.dataTable td:nth-child(4) .my-input-class {
  width: 100px;
}

/* for the table in patient mode */
#DataTables_Table_0 tbody tr:first-child {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 10;
}
